In [2]:
import pandas as pd

data = pd.read_excel('../../data/raw/clinical/seqlist.xlsx')
data

,Study REB#,Sample ID,Research ID,Study ID,"MIS-C postive, COVID+","MIS-C positive, COVID-",COVID+ (no MIS-C)
0,1000070060,20-11012-A-02-00,01C0397v1E,C0397,Y,NaN,NaN
1,1000070060,21-1157-A-02-00,01C0109v1E,C0109,Y,NaN,NaN
2,1000070060,21-1532-A-02-00,01C0091v1E,C0091,Y,NaN,NaN
3,1000070060,21-1867-A-02-00,01C0466v1E,C0466,Y,NaN,NaN
4,1000070060,21-4541-A-02-00,01C0591v1E,C0591,Y,NaN,NaN
...,...,...,...,...,...,...,...
132,1000070060,21-8367-A-02-00,Site 1;C0349;P;01,C0349,NaN,NaN,Y
133,1000070060,21-8384-A-02-00,Site 1;C0568;P;01,C0568,NaN,NaN,Y
134,1000070060,21-20577-A-02-00,01C0827v1E,C0827,NaN,NaN,Y
135,1000070060,21-21225-A-02-00,01C0838v1E,C0838,NaN,NaN,Y
136,1000070060,21-21725-A-02-00,01C0830v1E,C0830,NaN,NaN,Y